.datePicker{
    width: 84%;
    border-radius: 4px;
    text-align: center;
    font-size: 16px;
    border: 1px solid rgb(133, 133, 133);
    /* border-style: inset; */
    border-image: initial;
    /* border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133)) !important; */
}